
# Generados
G-2301-05-*-server
*.o
*.a
*.log

# Documentacion
*.pdf

# Editores de texto
*.sublime-workspace
*.swp
*.swo

# Git (merge conflicts)
*.orig

# Backups
*~

# Autotools
.deps/
.dirstamp
COPYING
G-2301-05-makefile
G-2301-05-makefile.in
INSTALL
aclocal.m4
autom4te.cache/
config.status
configure
include/G-2301-05-*-config.h
include/stamp-h1
lib/
obj/
scripts/ar-lib
scripts/compile
scripts/depcomp
scripts/install-sh
scripts/missing
scripts/ylwrap
